h1{
	text-align: center;
}
p{
	text-align: center;
	color: red;
}
body {
	background-image: url(https://www.fondosanimales.com/Imagenes/fondo-artistico-de-un-gato.jpg);
}
img{
	margin:10px auto;
	display:block;
}
iframe{
	
	margin: 10 auto;
	display: block;
}

a{	
	font-size: 16px;
	text-align: center!important;
	color: red;
	display:block;
	}