h1{
	text-align: center;
}
p{
	text-align: center;
	color: red;
}
body {
	
	background-image: url(https://www.fondosanimales.com/Imagenes/fondo-artistico-de-un-gato.jpg);
	
}
img{
	margin:10px auto;
	display:block;
}
iframe{
	
	margin: 10px auto;
	display: block;
}

a{	
	font-size: 16px;
	text-align: center;
	margin-left: auto;
  	margin-right: auto;
	color: blue;
	display: block;
}
form{
	padding:2px;
   	cursor:pointer;
	display:block;
   	width:290px;
   	margin: 0 auto;
   	text-align:center;
}